<!-- Where message for validation appears -->
<h1> - Error - There are missing fields </h1>

<% mesg.forEach(function(b){ %>
  <h3> <%= b.msg %> </h3>

<% }) %>



<h5>Go home and repeat once again</h5>
<a href="/todos">Home</a>